
body{
    background-color: #f5f3f4;
}

/* главное  меню */
.sidebar-nav{
    position: fixed;
    background-color: #222831;
    box-sizing: border-box;
    height: 100vh;  
    width: 200px;    
    padding: 12px 20px;
    list-style: none;
    min-height: 150vh;
}

.sidebar-nav li {
        margin-bottom: 10px;
}


.sidebar-nav a{
    text-decoration: none;
    color:#FFFAF0;
}

.sidebar-nav .rega{
    color: #eb5e28;
}

/* карточки */

.card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    background-color: #222831;
}


.card-body a{
    color: #FFFAF0;
    text-decoration: none;
}

/* детальная информация статей */


/* форма регистрации */

.title-class {
    width: 400px;
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
}


.content-class {
    width: 100%; 
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.release-class {
    width: 200px;
    height: 35px;
}