{% extends "base_generic.html" %}

{% block content %}

<form action="{% url 'extra' %}" method="get">
  <input type="search" name="q" placeholder="Макалаларды Іздеу..">
  <button type="submit">Іздеу</button>
</form>

{% if query %}
    <p>Сіз іздедіңіз: {{ query }}</p>
{% endif %}

{% if article_added %}
    <h3>Мақала қосылды:</h3>
    <p>Тақырыбы: {{ article_added.title }}</p>
    <p>Сипаттама: {{ article_added.description }}</p>
{% elif query %}
    <p>Қате: мақала қосылмаған</p>
{% endif %}
{% endblock %}