{% extends "base_generic.html" %}

{% block content %}
  
<form action="{% url 'extra' %}" method="get">
    <div class="mt-4 d-flex align-items-center mb-4">
        <i class="bi bi-search me-2"></i>
        <input type="search" name="q" placeholder="Макалаларды Іздеу.." class="form-control me-2">
        <button class="btn" style="background-color:#bf4342; color:#fff;">Іздеу</button>
    </div>
</form>

{% if query %}
    <p>Сіз іздедіңіз: {{ query }}</p>
{% endif %}

{% if article_added %}
    <h3>Мақала қосылды:</h3>
    <p>Тақырыбы: {{ article_added.title }}</p>
    <p>Сипаттама: {{ article_added.description }}</p>
{% elif query %}
    <p>Қате: мақала қосылмаған</p>
{% endif %}
{% endblock %}