{% extends "base_generic.html" %}

{% block content %}
<div class="article-container">

  <h1 class="article-title">{{ article.title }}</h1>

  <div class="article-meta">
    <p><strong>Автор:</strong> {{ article.author }}</p>
    <p><strong>Жанр:</strong>
      {% for genre in article.genre.all %}
        {{ genre }}{% if not forloop.last %}, {% endif %}
      {% endfor %}
    </p>
  </div>

  <div class="article-description">
    <h4>Сипаттамасы</h4>
    <p>{{ article.description }}</p>
  </div>
  <div class="article-content">
    <h4>Мазмұны</h4>
    <p>{{ article.content }}</p>
  </div>

</div>
{% endblock %}