{% extends "base_generic.html" %}

{% block content %}
<div class="article-container m-2 mt-1">

  <h1 class="article-title">{{ article.title }}</h1>

  <div class="article-meta">


    <p>
      <strong>Автор:</strong> 
      {% if article.author %}
          {{ article.author }}
      {% else %}
          Бұл мақала Wikipedia-дан алынған
      {% endif %}
    </p>
  </div>
  <div class="article-image">
    <img src="{{article.image}}" alt="">
  </div>
  <div class="article-content">
    <h4>Мазмұны</h4>
    <p>{{ article.content }}</p>
  </div>

</div>
{% endblock %}