{% extends "base_generic.html" %}
{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card bg-secondary text-white shadow-sm p-4" style="max-width: 450px; width: 100%;">
        <h2 class="text-center mb-4">Тіркелу</h2>
        <form action="{% url 'rega' %}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }} 
                {{ field }}
                {% if field.errors %}
                   <div class="text-white small">{{ field.errors }}</div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn mt-3 w-100" style="background-color:#bf4342; color: #fff;">Тіркелу</button>
        </form>
    </div>
</div>
{% endblock %}