{% extends "base_generic.html" %}

{% block content %}

<div class="bg-secondary text-white " style="min-height:100vh; padding:30px; ">
    
    <form action="{% url 'add_article' %}" method="post" style="max-width:800px;">
        {% csrf_token %}

            <h1 class="mt-4 d-flex align-items-center mb-4">
                <i class="bi bi-feather me-2 fs-2"></i>
                Мақала қосыңыз
            </h1>

    <div class="fs-6">
        <label>Тақырып:</label><br>
        {{ form.title }}<br><br>

        <label>Мақаланың толық мазмұны:</label><br>
        {{ form.content }}<br><br>

        <label>Жариялау күні:</label><br>
        {{ form.release }}<br><br>

        <button class="btn btn-lg mt-3" style="background-color:#bf4342; color:#fff;">
            Сақтау
        </button>
    </div>
    </form>
    <hr>

    <div class=" m-5 mt-1"> 

        <h2>Менің мақалаларым</h2>

        {% if user_article %}
            <ul>
            {% for article in user_article %}
                <li>{{ article.title }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>Сізде әлі мақалалар жоқ.</p>
        {% endif %}
    </div>
</div>
{% endblock %}