{% extends "base_generic.html" %}

{% block content %}
<h1>Мақала қосыңыз</h1>
<form action="{% url 'add_article' %}" method="post">
    
    <label>Тақырып:</label><br>
    {{ form.title }}<br><br>

    <label>Қысқаша сипаттама:</label><br>
    {{ form.description }}<br><br>

    <label>Мақаланың толық мазмұны:</label><br>
    {{ form.content }}<br><br>

    <label>Жариялау күні:</label><br>
    {{ form.release }}<br><br>

    <input type="submit" value="Сақтау">
</form>


<hr>


<h2>Менің мақалаларым</h2>
{% if user_article %}
    <ul>
    {% for article in user_article %}
        <li>{{ article.title }}</li>
    {% endfor %}
    </ul>
{% else %}
    <p>Сізде әлі мақалалар жоқ.</p>
{% endif %}
{% endblock %}